= render partial: "/side_menu"

.chatspace
  .main-header
    .current-group
      .current-group__name
        グループ
      %ul.current-group__meber-list
        Member:
        %li
          aaaaa
    .edit
      =link_to "/groups/1/edit", class: "edit__btn" do
        %p Edit
  .messages
    .messages__message
      .messages__message__info
        %p.messages__message__info__user-name
          name
        %p.messages__message__info__date
          2019/07/02(Tue) 16:25:30
      %p.messages__message__text
      aaaaaaa


    -# = form_for @message do |f|
    -# %form{action:"#", method:"get", class:"form__box"}
    -#   .form__box__input
    -#     %input{name:"message", class:"form__box__input__text", type:"text", placeholder:"type a message"}
    -#     %label.upload-label{for: "upload-icon", class:"form__box__input__img-label"}
    -#       %i.fa.fa-picture-o
    -#       %input{name:"img", class:"form__box__input__img", id:"upload-icon", type:"file"}
    -#   %input{type:"submit", class:"form__box__submit", value:"Send"}
 
  .form
    = form_for [@group, @message],html: {class: 'form__box'} do |f|
      .form__box__input
        = f.text_field :body, class: 'form__box__input__text', placeholder: 'type a message'
        = f.label :image, class: 'form__box__input__img-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'form__box__input__img'
      = f.submit 'Send', class: 'form__box__submit'   


