= render partial: "/side_menu"

.chatspace
  .main-header
    .current-group
      .current-group__name
        = @group.name
      %ul.current-group__meber-list
        Member:
        - @group.users.each do |user|
          %li
            = user.name
    .edit
      =link_to edit_group_path(@group), class: "edit__btn" do
        %p Edit
  .messages
    = render @messages
 
  .form
    = form_for [@group, @message],html: {class: 'form__box'} do |f|
      .form__box__input
        = f.text_field :body, class: 'form__box__input__text', placeholder: 'type a message'
        = f.label :image, class: 'form__box__input__img-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'form__box__input__img'
      = f.submit 'Send', class: 'form__box__submit'   


